<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>

  <body>
    <form method="POST" enctype="multipart/form-data">
      <p>Please input restaurant name: <input name="name" placeholder="name here" /></br></p>
      <p>Please input restaurant email: <input name="location" placeholder="email here" /></br></p>
      <p>Please input restaurant password: <input name="email" placeholder="password here" /></br></p>
      <p><button>Add</button></p>
    </form>


    <!-- <form class="search_bar" method="post">
        <input id="search_bar" type = "text" name="search" placeholder="  Try &quot;Italy&quot"/>
    </form> -->
  </body>

</html>
