<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main_page_style.css">
    <title>Soupkitchen</title>
  </head>
  <body class ="bg">
    <div id="title">
      Soupkitchen
    </div>

    <div class="navbar">
      <a href="/">Login</a>
      <a href="/">Sign Up</a>
      <a href="/">About</a>
      <a href="/">Contact Us</a>
    </div>

    </div>
  </body>
</html>
